[user]
    name  = Tom Britton
    email = britton.tm@gmail.com

[init]
    defaultBranch = main

[core]
    editor         = nvim
    excludesfile   = ~/.gitignore_global
    autocrlf       = input
    pager          = less -FRX

[pull]
    rebase = false

[push]
    default     = simple
    autoSetupRemote = true

[merge]
    conflictstyle = zdiff3

[diff]
    algorithm     = histogram
    colorMoved    = default
    renames       = copies

[rerere]
    enabled = true

[fetch]
    prune = true

[color]
    ui = auto

[alias]
    s   = status -sb
    co  = checkout
    br  = branch
    cm  = commit -m
    ca  = commit --amend
    l   = log --oneline --graph --decorate -20
    lg  = log --graph --pretty=format:'%C(yellow)%h%Creset %C(cyan)%an%Creset %s %C(green)(%cr)%Creset %C(magenta)%d%Creset'
    last = log -1 HEAD
    unstage = reset HEAD --
    undo    = reset --soft HEAD~1
